#simple-text-resize {
  list-style: none;
  padding: 0;
  margin: 0;
}

#simple-text-resize > li {
  cursor: pointer;
}

#simple-text-resize > .font-increase {
  font-size: 1.2rem;
}

#simple-text-resize > .font-reset {
  font-size: 1rem;
}

#simple-text-resize > .font-decrease {
  font-size: 0.8rem;
}
