{#
/**
 * @file
 * Default theme implementation for simple font resize block.
 *
 * This block provides basic HTML required for the simple font resize to work.
 */
#}
{% block content %}
  <ul id="simple-text-resize">
    <li class="font-increase">A</li>
    <li class="font-reset">A</li>
    <li class="font-decrease">A</li>
  </ul>
{% endblock %}
